In [1]:
import pandas as pd
df = pd.read_csv('xeno_canto_records.csv')
df.head()

,id,gen,sp,en,rec,cnt,loc,lat,lng,alt,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
0,754598,Pyriglena,similis,Tapajos Fire-eye,JAYRSON ARAUJO DE OLIVEIRA,Brazil,"Sinop, Cascalheiras - Mato Grosso",-11.7519,-55.6380,340,...,NaN,yes,yes,yes,NaN,NaN,no,Panasonic RRUS551,Embutido,44100
1,695999,Pyriglena,similis,Tapajos Fire-eye,Felipe Arantes,Brazil,"Vitória do Xingu, Pará",-3.3389,-51.8571,130,...,NaN,yes,yes,yes,NaN,NaN,no,NaN,NaN,48000
2,529078,Pyriglena,maura,Western Fire-eye,Benedito Pio da Silva Campos Neto,Brazil,"Chapada dos Guimarães, Mato Grosso. Cond. Manauá",-15.4467,-55.7002,750,...,NaN,yes,yes,no,NaN,NaN,no,NaN,NaN,44100
3,246018,Pyriglena,maura,Western Fire-eye,Jeremy Minns,Brazil,"Comodoro, Mato Grosso",-13.3001,-59.8001,550,...,Campinarana,no,no,yes,NaN,NaN,no,NaN,NaN,44100
4,214239,Saltator,olivascens,Olivaceous Saltator,Jeremy Minns,Brazil,Boa Vista. Ilha São José,2.9501,-60.5167,70,...,natural song of single bird in tree 25m from mic,no,no,no,NaN,NaN,no,NaN,NaN,44100